<%= form_with(model: response, local: true) do |form| %>
  <% if response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :response_content %>
  </div>

  <div class="field">
    <%= form.label :threat %>
    <%= form.text_field :threat, "size" => 1, id: :response_threat %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
