<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @response.content %>
  <%= @response.threat %>
</p>

<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
